<div class="middle fileUploadWrapper">
    <section>
        <h3 class="text" #upheader>Please upload the csv file</h3>

        <div *ngIf="uploading()" class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                style="width: 0%;" #bar> 45%</div>

        </div>
        <div class="middle" *ngIf="!uploading()">
            <div class='fileupload' appDragDropFileUpload (click)=" fileField.click()" (fileDropped)="upload($event)">
                <span class="ddinfo">Choose a file or drag here</span>
                <input type="file" name="fileInput" #fileField (change)="upload($any($event).target.files)" hidden
                    multiple />
            </div>
        </div>
    </section>
</div>

<div class="middle">

    <div class="flex flex-row">

        <button (click)="uploadTodb()" type="button" class="inline-block rounded-full  bg-success px-6 bg-purple-600
            pt-2.5 pb-2  text-xs font-medium uppercase leading-normal text-white"
            style="width:50%;text-align: center;">
            Upload File and Create
        </button>
        <button type="button" class="inline-block rounded-full bg-danger px-6 bg-white
            pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-purple-600
" style="width:50%">
            Cancel
        </button>



    </div>
</div>
<br>
<hr>