.form-control{
    border: 1px solid grey;
    width:100%

}
.sec{
    margin: 0 10%
}
.full{
    width:100%
}
.alert-danger {
    @apply bg-red-100 text-red-900 border border-red-400 rounded;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}