.cont{
    display: flex;
    width: 90%;
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
table{
    width: 100%;
}
.header {
display:flex;
    width: 90%;
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}