<div class="cont">
    <h1 style="color:green">You have purchased a {{diagram.type}} diagram</h1>
    <section style="height: fit-content ; width:80%">
        <div style="width:100%;height: 100%;padding-top: 0;" #ChartPreview>
            <mat-card style="width:100%;height: 100%;">

                <mat-card-content>
                    <highcharts-chart [Highcharts]="GetHigcharts()" [options]="diagram.chart "
                        style="width: 100%; height: fit-content; display: block;">
                    </highcharts-chart>
                </mat-card-content>

            </mat-card>
        </div>
    </section>
    <br>
    <hr style="width: 80%;">
    <br>
    <input (click)=" toMyDiagrams() "
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button" value="Continue to MyDiagrams  Page" style=" width:80%">
</div>