<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Hello <span style="color:blue">{{getUser().username}}</span> </mat-card-title>

        </mat-card-header>
        <br>
        <section class="sectionTab">
            <mat-card-subtitle>
                <article class="flex flex-row" style="margin-left: 10% ; margin-right: 10%;">
                    <section class="basis-1/2">
                        Your total charts:
                    </section>
                    <section class="basis-1/2">
                        {{getUser().total}}
                    </section>
                </article>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <article class="flex flex-row" style="margin-left: 10% ; margin-right: 10%;">
                    <section class="basis-1/2">
                        Available Credits:</section>
                    <section class="basis-1/2" #credits>

                    </section>
                </article>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <article class="flex flex-row" style="margin-left: 10% ; margin-right: 10%;">
                    <section class="basis-1/2">last login:</section>
                    <section class="basis-1/2">
                        {{getFormattedLastLogin()}}
                    </section>
                </article>
            </mat-card-subtitle>
        </section>

        <mat-card-actions>
            <button mat-button class="col-3">My charts</button>
            <button mat-button class="col-3">New chart</button>
            <button mat-button class="col-3">Buy credits</button>
        </mat-card-actions>

    </mat-card>
</div>