<div class="about-page">
    <h1>About eCharts</h1>
    <p>Welcome to our website! We are a team of students working together to provide you with
        high-quality services.</p>
    <p>Our mission is to provide to our clients the capability to present and assess the valuable data they generate
        through 6 different diagram types.
    </p>
    <h2>Pricing</h2>
    <p> You can use a token to create a diagram. You get 10 free tokens by registering! 
        After that the pricing has as it follows:<br>
        Basic: 1 token ($0.50c)<br>
        Standard: 3 tokens ($1)<br>
        Premium: 10 tokens ($3)<br>
        Enterprise: 100 tokens ($25)
    </p>
    <p>If you have any questions or need
        assistance, please don't hesitate to contact us.</p>
</div>
<footer style="height: 15%;">
    <hr>
    <div class="footer">
        <h4>contact info:</h4>
        <br>
        <article>
            github repo: https://github.com/ntua/SaaS23-54.git

        </article>
        <article>
            instagram:

        </article>
    </div>
</footer>