.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 80%;
}

.about-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-page p {
    margin-bottom: 15px;
        font-size: 20px;
}
.footer{

            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            
   
}
.footer h4{
    text-align: center;
    font-weight: bold;
}