<div class="header">

    <mat-card *ngIf="getLoading()" style="width: fit-content;height: fit-content;display:flex">
        <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner> &nbsp;<span>Loading your diagrams</span>
    </mat-card>
</div>
<div class="cont">

    <section class="w-1/2">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="getdataSource()">

                <!-- Type Column -->
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> chart name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Create at Column -->
                <ng-container matColumnDef="CreatedAt">
                    <th mat-header-cell *matHeaderCellDef> Created at </th>
                    <td mat-cell *matCellDef="let element"> {{element.CreatedAt}} </td>
                </ng-container>

                <!-- Download Column -->
                <ng-container matColumnDef="Download">
                    <th mat-header-cell *matHeaderCellDef> download </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="cont">
                            <section class="w-1/2">
                                <div *ngIf="element.Download.happenhtml ; then spinner ;else htmlLink"></div>

                                <ng-template #htmlLink>
                                    <button style="text-decoration: underline;color: blue ; font-style: italic;"
                                        (click)="DownloadHtml(element)">html</button>
                                </ng-template>

                            </section>
                            &nbsp;
                            <section class="w-1/2">

                                <div *ngIf="element.Download.happenpng ; then spinner ;else pngLink"></div>

                                <ng-template #pngLink>
                                    <button style=" text-decoration: underline;color: blue ; font-style: italic;"
                                        (click)="DownloadPng(element)">png</button>
                                </ng-template>
                            </section>


                        </div>
                        <div class="cont">
                            <section class="w-1/2">
                                <div *ngIf="element.Download.happensvg ; then spinner ;else svgLink"></div>

                                <ng-template #svgLink>
                                    <button style="text-decoration: underline;color: blue ; font-style: italic;"
                                        (click)="DownloadSvg(element)">svg</button></ng-template>
                            </section>
                            &nbsp;
                            <section class="w-1/2">
                                <div *ngIf="element.Download.happenpdf ; then spinner ;else pdfLink"></div>

                                <ng-template #pdfLink>
                                    <button style="text-decoration: underline;color: blue ; font-style: italic;"
                                        (click)="DownloadPdf(element)">pdf</button></ng-template>
                            </section>


                        </div>

                    </td>
                </ng-container>
                <!--Preview-->
                &nbsp;
                <ng-container matColumnDef="Preview">
                    <th mat-header-cell *matHeaderCellDef> Preview </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="!getFetchDiagram(element);then chart ;else spinner"></div>
                        <ng-template #chart>
                            <button (click)="ViewChart(element.Preview)"><mat-icon> bar_chart</mat-icon></button>
                        </ng-template>



                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="getDisplayColumns()"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayColumns();"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>

        </div>

    </section>
    <section class="w-1/2" *ngIf="!hide" style="height: fit-content;">
        <div class="cont" style="padding-top: 0;" #ChartPreview>
            <mat-card style="width:100%;height: fit-content;">

                <mat-card-content>
                    <highcharts-chart [Highcharts]="GetHigcharts()" [options]="selectedChart "
                        style="width: 100%; height: fit-content; display: block;">
                    </highcharts-chart>
                </mat-card-content>

            </mat-card>
        </div>
    </section>
</div>
<ng-template #spinner>
    <div style="padding-left: 0.2em;">
        <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner>
    </div>
</ng-template>